@model gushv3.Models.Sales

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sales</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.TransId)

        <div class="form-group">
            @Html.LabelFor(model => model.transDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.transDate)
                @Html.ValidationMessageFor(model => model.transDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OrNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrNo)
                @Html.ValidationMessageFor(model => model.OrNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.product, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.product)
                @Html.ValidationMessageFor(model => model.product)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.transQtyPurch, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.transQtyPurch)
                @Html.ValidationMessageFor(model => model.transQtyPurch)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cashier, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cashier)
                @Html.ValidationMessageFor(model => model.cashier)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<style>
    body {
        background-image: url("http://zellox.com/wp-content/uploads/2016/05/website-backgrounds-%E2%80%AB1%E2%80%AC-%E2%80%AB%E2%80%AC-1920x1080.jpg");
        background-size: 1360px 768px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
</style>